
.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    padding: 20px;
}
.box-prices {
    display: flex;
    padding: 20px;
    align-items: center;   
    vertical-align: center;
    
}
